<template>
  <q-page class="column q-pa-md q-col-gutter-md">
    <!-- Toolbar -->
    <MyTeleport to="#toolbar-title">Détails du batch</MyTeleport>
    <MyTeleport to="#toolbar-buttons">
      <q-btn flat round icon="delete" @click="confirmDeleteBatch()"/>
      <q-btn flat round icon="refresh" :loading="capturesStore.loading" @click="capturesStore.refresh()"/>
    </MyTeleport>

    <!-- Infos -->
    <div class="overflow-auto full-width column">
      <span>ID: {{  capturesStore.batch?.id }}</span>
      <span>Remaining : {{  capturesStore.batch?.remaining.length }}</span>
      <span>Resolved : {{  Object.keys(capturesStore.batch?.resolved ?? {}).length }}</span>
    </div>
    <q-btn v-if="capturesStore.batch?.processing === false" @click="startProcess()">Process</q-btn>
    <q-btn v-if="capturesStore.batch?.processing === true" @click="stopProcess()">Stop</q-btn>

    <!-- Captures-->
    <q-input v-model="filter" outlined clearable debounce="300" placeholder="Filtrer"/>
    <div class="row q-col-gutter-md">
      <div v-for="capture in paginatedCaptures" :key="capture.id" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <CaptureCard :capture="capture" @click="displayCapture(capture)"/>
      </div>

      <div v-if="hasNext" class="col-12 row justify-center">
        <q-btn v-intersection="onIntersect" fab icon="refresh" color="secondary" @click="loadNext()"/>
      </div>
    </div>

    <!-- FAB -->
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="accent" @click="openDialog()"/>
    </q-page-sticky>
  </q-page>
</template>

<script setup lang="ts">
import { computed, ref, watch, watchEffect } from 'vue'
import { useRouter } from 'vue-router'
import { useQuasar } from 'quasar'

import MyTeleport from 'src/components/MyTeleport.vue'
import CaptureCard from 'src/components/CaptureCard.vue'

import { useBatches } from 'src/utils/batches'
import { notifyError, notifySuccess } from 'src/utils/notify'

import { useCapturesStore } from 'src/stores/capture-store'

import { withLoading } from 'src/utils/loading'
import CaptureTabsDialog from 'src/components/CaptureTabsDialog.vue'
import CapturePreviewDialog from 'src/components/CapturePreviewDialog.vue'
import CaptureUrlsDialog from 'src/components/CaptureUrlsDialog.vue'
import { CaptureDoc } from 'app/src-bex/controllers/capture-controller'
import { containsString } from 'src/utils/filters'


export interface Props {
  id: string
}

const props = defineProps<Props>()

const { deleteBatch, startBatch, stopBatch } = useBatches()

const $q = useQuasar()
const capturesStore = useCapturesStore(props.id, true)


/*
 * Filters and sort
 */

const filter = ref('')
const filteredCaptures = computed(() => {
  let base: CaptureDoc[] | undefined
  if(filter.value === null || filter.value.length === 0)
    base = [ ...capturesStore.captures ] // Clone to avoid mutating later with sort

  else
    base = capturesStore
    .captures
    .filter(c => containsString(c.info.title, filter.value))

  base.sort()
  return base
})


/*
 * Infinite scroll pagination
 */

const pageSize = ref(10)
const currentPage = ref(0)
const itemsCount = ref(0)
const paginatedCaptures = ref<CaptureDoc[]>([])

const loadNext = () => currentPage.value++
const hasNext = computed(() => pageSize.value * (currentPage.value + 1) < itemsCount.value)
const onIntersect = (e: IntersectionObserverEntry) => { if(e.isIntersecting && hasNext.value) loadNext() }

watch(filter, () => currentPage.value = 0)
watchEffect(() => {
  itemsCount.value = filteredCaptures.value.length
  paginatedCaptures.value = filteredCaptures.value.slice(0, pageSize.value * (currentPage.value + 1))
})


/*
 * Process
 */
const startProcess = (): void => {
  if(capturesStore.batch === undefined) return
  const batchId = capturesStore.batch.id

  $q.dialog({
    component: CaptureUrlsDialog,
    componentProps: {
      links: capturesStore.batch.remaining
    }
  })
    .onOk(urls => startBatch([batchId, urls])
      .then(() => capturesStore.refreshBatch())
      .then(() => notifySuccess('Batch démarré'))
      .catch(err => notifyError('Une erreur est survenue', err))
    )
}

const stopProcess = (): void => {
  if(capturesStore.batch === undefined) return
  const batchId = capturesStore.batch.id

  stopBatch(batchId)
    .then(() => capturesStore.refreshBatch())
    .then(() => notifySuccess('Batch arrêté'))
    .catch(err => notifyError('Une erreur est survenue', err))
}


// Pick a tab and capture
const openDialog = () => $q.dialog({
  component: CaptureTabsDialog,
  componentProps: { capturesStore }
})


// Capture preview
const displayCapture = (capture: CaptureDoc) => $q.dialog({
  component: CapturePreviewDialog,
  componentProps: { capture }
})


// Delete a batch
const router = useRouter()
const deletePending = ref(false)
const confirmDeleteBatch = () => $q.dialog({
  title: 'Confirmer',
  message: 'Voulez vous supprimer batch ? Toutes les captures associées seront supprimées.',
  cancel: 'Annuler',
  ok: 'OK'
})
  .onOk(() => {
    if(capturesStore.batch === undefined) return
    return withLoading(deletePending, deleteBatch(capturesStore.batch)
      .then(() => {
        notifySuccess('Batch supprimé')
        router.replace('/batch')
      })
      .catch(err => notifyError('Une erreur est survenue', err))
    )
  })
</script>
