<template>
  <q-page class="row q-pa-md q-col-gutter-md">
    <!-- Toolbar -->
    <MyTeleport to="#toolbar-title">Import en cours</MyTeleport>
    <MyTeleport to="#toolbar-buttons">
      <q-btn flat round icon="refresh" :loading="batchesStore.loading" @click="refresh()"/>
    </MyTeleport>

    <!-- Batches -->
    <div v-for="batch in batchesStore.batches" :key="batch.id" class="col-4">
      <q-card v-ripple class="cursor-pointer" @click="displayBatch(batch)">
        <q-card-section>
          <div class="text-h6">
            Batch {{ batch.name }}
          </div>
          <div>{{ batch.urls.length }} éléments</div>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat round color="secondary" icon="edit" @click.stop="editBatch(batch)"/>
        </q-card-actions>
      </q-card>
    </div>

    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="accent" @click="createBatch()"/>
    </q-page-sticky>
  </q-page>
</template>

<script setup lang="ts">
import { useQuasar } from 'quasar'
import { useRouter } from 'vue-router'

import MyTeleport from 'src/components/MyTeleport.vue'
import { BatchDoc } from 'app/src-bex/controllers/batch-controller'
import BatchFormDialog from 'src/components/BatchFormDialog.vue'
import { useBatchesStore } from 'src/stores/batch-store'


// Batches
const batchesStore = useBatchesStore(true)
const refresh = () => batchesStore.refresh()


// Credit and edit batch
const $q = useQuasar()
const createBatch = () => $q.dialog({
  component: BatchFormDialog,
  componentProps: { batchesStore }
})

const editBatch = (batch: BatchDoc) => $q.dialog({
  component: BatchFormDialog,
  componentProps: { batch, batchesStore }
})


// Routing
const router = useRouter()
const displayBatch = (batch: BatchDoc) => router.push(`/batch/${batch.id}`)
</script>
