<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          Capture <em>{{ title }}</em>
        </q-toolbar-title>

        <q-btn flat round icon="home" @click="goHome()"/>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <div class="column q-pa-xs q-gutter-y-md">
        <q-input outlined v-model="author" label="Auteur"/>
        <q-input outlined v-model="title" label="Titre"/>
        <q-input outlined v-model="sitename" label="Site"/>
        <q-input outlined v-model="url" label="URL"/>
        <q-input outlined v-model="excerpt" label="Résumé" type="textarea" class="input-textarea"/>
        <q-separator/>
      </div>
    </q-drawer>

    <q-page-container>
      <q-page class="column">
        <PreviewComponent :article="article" :source-html-blob-url="htmlBlobUrl"/>

        <ProgressBottomSheet/>

        <q-page-sticky position="bottom-right" :offset="[24, 18]">
          <q-btn fab icon="save" color="accent" :loading="savePending" @click="save"></q-btn>
        </q-page-sticky>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<style scoped lang="sass">
</style>

<script setup lang="ts">
import { ref, watchEffect } from 'vue'
import { useRouter } from 'vue-router'

import { notifyError, notifySuccess } from 'src/utils/notify'
import { useArticleCapture, useArticles } from 'src/utils/articles'

import PreviewComponent from 'src/components/PreviewComponent.vue'
import ProgressBottomSheet from 'src/components/ProgressBottomSheet.vue'

interface Props {
  tabId: string
}

const props = defineProps<Props>()

// Drawer
const leftDrawerOpen = ref(false)
const toggleLeftDrawer = () => leftDrawerOpen.value = !leftDrawerOpen.value

// Router
const router = useRouter()
const goHome = () => router.push('/')

// Info fields
const url = ref()
const author = ref('')
const title = ref('')
const excerpt = ref('')
const sitename = ref('')

// Capture tab
const { saveArticle } = useArticles()
const { article, htmlBlobUrl, captureTab } = useArticleCapture()

watchEffect(() => captureTab(parseInt(props.tabId))
    .then(() => {
      if(article.value === undefined) throw new Error('article is undefined')

      url.value = article.value.sourceUrl
      author.value = article.value.author
      title.value = article.value.title
      excerpt.value = article.value.excerpt
      sitename.value = article.value.siteName
    })
    .catch(err => notifyError('Erreur lors de la capture de la page', err))
)

// Save
const savePending = ref(false)
const save = () => {
  if(article.value === undefined) return

  savePending.value = true
  saveArticle({
    ...article.value,
    title: title.value,
    sourceUrl: url.value,
    author: author.value,
    excerpt: excerpt.value,
    siteName: sitename.value
  })
    .then(() => notifySuccess('Article sauvegardé !'))
    .catch(err => notifyError('Erreur lors de la sauvegarde', err))
    .finally(() => savePending.value = false)
}
</script>
