<template>
  <q-page class="column q-pa-md">
    <PreviewComponent :article="article"/>

    <!-- Toolbar -->
    <MyTeleport to="#toolbar-title">{{ article?.title }}</MyTeleport>
    <MyTeleport to="#toolbar-buttons">
      <q-btn flat round icon="open_in_new" @click="openSourceUrl"/>
      <q-btn flat round icon="delete" @click="confirmDelete"/>
    </MyTeleport>
  </q-page>
</template>

<script setup lang="ts">
import { onMounted } from 'vue'
import { useRouter } from 'vue-router'
import { useQuasar } from 'quasar'

import { useArticles, useReadArticle } from 'src/utils/articles'

import MyTeleport from 'src/components/MyTeleport.vue'
import PreviewComponent from 'src/components/PreviewComponent.vue'
import { notifyError } from 'src/utils/notify'

interface Props {
  id: string
}

const props = defineProps<Props>()

// Routing
const router = useRouter()
const openSourceUrl = () => article.value && window.open(article.value.sourceUrl, '_blank')

// Article
onMounted(() => {
  if(props.id === undefined) return
  readArticle(props.id)
    .catch(err => notifyError('Une erreur est survenue', err))
})

const { deleteArticle } = useArticles()
const { article, readArticle } = useReadArticle()

const $q = useQuasar()
const confirmDelete = () => $q.dialog({
        title: 'Confirmer',
        message: 'Voulez vous supprimer cet article?',
        cancel: 'Annuler',
        ok: 'OK'
      }).onOk(() => {
        return deleteArticle((article.value as any)._id, (article.value as any)._rev) // TODO <-- better typing
          .then(() => router.back())
      })
</script>
