<template>
  <q-page class="row q-pa-md q-col-gutter-md">
    <!-- Toolbar -->
    <MyTeleport to="#toolbar-title">Articles</MyTeleport>
    <MyTeleport to="#toolbar-buttons">
      <q-btn flat round icon="refresh" @click="refresh()"/>
    </MyTeleport>

    <!-- Articles -->
    <div v-for="article in articles" :key="article._id" class="col-4">
      <q-card v-ripple class="cursor-pointer" @click="displayArticle(article)">
        <q-img :src="article.hero && blobs[article.hero] || 'https://placehold.co/300x200?text=Placeholder'">
          <div class="absolute-bottom text-h6">
            {{ article.title }}
          </div>
        </q-img>

        <q-card-section>
          {{ article.excerpt }}
        </q-card-section>
      </q-card>
    </div>

  </q-page>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'

import { useBlobHelper } from 'src/utils/blobs'
import { useArticles, PouchArticle } from 'src/utils/articles'

import MyTeleport from 'src/components/MyTeleport.vue'


// Articles
const { listArticles, getAttachments } = useArticles()
const articles = ref<PouchArticle[]>([])

onMounted(() => refresh())

const refresh = () => listArticles()
  .then(list => {
    articles.value = list
    articles.value
      .forEach(article => {
        if(article.hero === undefined || blobExists(article.hero)) return

        return getAttachments(article._id, [ article.hero ])
          .then(addBlobsFromAttachments)
          .catch(err => console.error('error fetching attachments', err))
      })
  })

// Routing
const router = useRouter()
const displayArticle = (article: PouchArticle) => router.push(`/display/${article._id}`)

// Blobs
const { blobs, blobExists, addBlobsFromAttachments } = useBlobHelper()
</script>
