<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <PreviewComponent :article="article" :source-html-blob-url="htmlBlobUrl"/>

      <ProgressBottomSheet/>

      <q-page-sticky position="top-right" :offset="[24, 18]">
        <q-btn fab icon="fullscreen" color="accent" class="app-transparent-overlay" @click="openDetailedCapture"></q-btn>
      </q-page-sticky>

      <q-page-sticky position="bottom-right" :offset="[24, 18]">
        <q-btn fab icon="save" color="accent" @click="save" :loading="savePending"></q-btn>
      </q-page-sticky>
    </q-page-container>
  </q-layout>
</template>

<style lang="sass">
html
  width: 700px
  height: 600px

body::-webkit-scrollbar
    width: 0
    height: 0
    display: none
</style>

<script setup lang="ts">
import { onMounted, ref } from 'vue'

import { useTabs } from 'src/utils/tabs'
import { notifyError, notifySuccess } from 'src/utils/notify'
import { useArticleCapture, useArticles } from 'src/utils/articles'

import PreviewComponent from 'src/components/PreviewComponent.vue'
import ProgressBottomSheet from 'src/components/ProgressBottomSheet.vue'

// Open capture page
const tabId = ref<number>()
const openDetailedCapture = () => window.open(`index.html#/capture/${tabId.value}`, '_blank')

// Capture tab
const { article, htmlBlobUrl, captureTab } = useArticleCapture()

const { currentTab } = useTabs()
const { saveArticle } = useArticles()

onMounted(() => currentTab()
  .then(tab => {
    tabId.value = tab.id
    return tab.id
  })
  .then(captureTab)
  .catch(err => notifyError('Erreur lors de la capture de la page', err))
)


// Save
const savePending = ref(false)
const save = () => {
  if(article.value === undefined) return

  savePending.value = true
  saveArticle(article.value)
    .then(() => {
      notifySuccess('Article sauvegardé !')
      setTimeout(() => window.close(), 1500)
    })
    .catch(err => notifyError('Erreur lors de la sauvegarde', err))
    .finally(() => savePending.value = false)
}
</script>
