<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card>
      <q-card-section>
        <div class="text-h6">{{ editMode ? 'Editer le batch' : 'Créer un batch' }}</div>
      </q-card-section>

      <q-card-section class="column q-gutter-md">
        <q-input outlined autofocus v-model="editBatch.name"/>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat color="primary" label="Annuler" v-close-popup />
        <q-btn flat color="primary" label="OK" @click="validate()" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style lang="sass">
.code-block
  display: block

.card-error-details
  max-width: unset !important
</style>

<script setup lang="ts">
import { computed, ref } from 'vue'
import { useDialogPluginComponent } from 'quasar'
import { BatchDoc } from 'app/src-bex/controllers/batch-controller';
import { notifyError, notifySuccess } from 'src/utils/notify';
import { BatchesStore } from 'src/stores/batch-store';


/*
 * Dialog
 */
interface Props {
  batch?: BatchDoc,
  batchesStore: BatchesStore
}
const props = defineProps<Props>()

defineEmits([
  ...useDialogPluginComponent.emits
])
const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent()


/*
 * Form
 */
const editMode = computed(() => props.batch !== undefined)
const editBatch = ref({ name: props.batch?.name ?? '' })

function validate() {
  if(editMode.value) {
    if(props.batch === undefined) return
    props.batchesStore.updateBatch({ ...props.batch, name: editBatch.value.name })
      .then(() => {
        notifySuccess('Batch mis à jour')
        onDialogOK()
      })
      .catch(err => notifyError('Une erreur est survenue', err))
  }
  else props.batchesStore.addBatch({ name: editBatch.value.name, urls: [] })
    .then(() => {
      notifySuccess('Batch créé')
      onDialogOK()
    })
    .catch(err => notifyError('Une erreur est survenue', err))
}
</script>
