<template>
  <q-dialog ref="dialogRef" :persistent="loading" @hide="onDialogHide">
    <q-card class="comp-card column no-wrap">
      <q-card-section>
        <div class="text-h6">Capturer des onglets</div>
      </q-card-section>

      <q-card-section class="column no-wrap overflow-auto">
        <div class="row no-wrap">
          <q-input class="grow" v-model="filter" debounce="300" label="Filtrer..." outlined autofocus clearable/>
          <q-checkbox :model-value="allChecked" @update:model-value="toggleCheckAll()"/>
        </div>

        <q-list dense class="q-mt-md full-width overflow-auto">
          <q-item
            v-for="url in filteredUrls" :key="url.id"
            :disable="loading"
            :clickable="capturingUrls[url.id] === undefined"
            @click="toggleChecked(url.id)"
          >
            <q-item-section>
              <q-item-label caption>{{ url.value }}</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-checkbox v-if="capturingUrls[url.id] === undefined" v-model="checkedUrls[url.id]"/>
              <q-btn v-else-if="capturingUrls[url.id] === LoadingStatus.PENDING" flat round loading/>
              <q-btn v-else-if="capturingUrls[url.id] === LoadingStatus.OK" flat round icon="done" color="positive"/>
              <q-btn v-else-if="capturingUrls[url.id] === LoadingStatus.ERROR" flat round icon="error" color="negative"/>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat color="primary" label="Annuler" :disable="loading" v-close-popup/>
        <q-btn flat color="primary" label="OK" :loading="loading" @click="validateUrls()"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style lang="sass" scoped>
.comp-card
  width: 66vw
  overflow: hidden !important
</style>

<script setup lang="ts">
import { onMounted, ref, watchEffect } from 'vue'
import { useDialogPluginComponent } from 'quasar'
import { LoadingStatus } from 'src/utils/loading';
import { v4 as uuidv4 } from 'uuid';

// TODO virtual scroll

// Props
export interface Props {
  links: string[]
}
const props = defineProps<Props>()


// Dialog
defineEmits([
  ...useDialogPluginComponent.emits
])

const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent()


// Urls
type UrlId = string
interface Url {
  id: UrlId
  value: string
}

const urls = ref<Url[]>([])
const capturingUrls = ref<Record<UrlId, LoadingStatus>>({})

onMounted(() => {
  urls.value = props.links.map(l => ({
    id: uuidv4(),
    value: l
  }))
})

const loading = ref(false)
const validateUrls = () => {
  const pendingUrls = urls
    .value
    .filter(u => checkedUrls.value[u.id] === true && capturingUrls.value[u.id] === undefined)

  onDialogOK(pendingUrls.map(u => u.value))
}


// Checkboxes
const allChecked = ref<boolean | undefined>(false)
const checkedUrls = ref<Record<UrlId, boolean>>({})
const toggleChecked = (urlId: UrlId) => {
  allChecked.value = undefined
  checkedUrls.value[urlId] = capturingUrls.value[urlId] === undefined && !checkedUrls.value[urlId]
}

const toggleCheckAll = () => {
  allChecked.value = !allChecked.value
  filteredUrls.value
    .forEach(url => {
      checkedUrls.value[url.id] = capturingUrls.value[url.id] === undefined && (allChecked.value ?? false)
    })
}


// Filter
const filter = ref<string | null>(null)
const filteredUrls = ref<Url[]>([])
watchEffect(() => {
  const f = filter.value

  if(f === null || f.length === 0)
    filteredUrls.value = urls.value

  else {
    filteredUrls.value = urls.value
      .filter(u => u.value.includes(f))
  }

  checkedUrls.value = filteredUrls.value.reduce((acc, u) => ({ ...acc, [u.id]: false }), {})
})
</script>
