<template>
  <q-card v-ripple class="cursor-pointer">
    <q-img loading="lazy" :ratio="16/9" :src="capture.info.hero ?? 'https://placehold.co/300x200?text=Placeholder'">
      <div v-if="capture.info.title" class="absolute-bottom text-h6">{{ capture.info.title }}</div>
      <div v-else class="absolute-bottom text-h6 text-italic">Aucun titre</div>
    </q-img>

    <q-card-section>
      <div v-if="capture.info.excerpt" class="text-body2">{{ capture.info.excerpt }}</div>
      <div v-else class="text-body2 text-italic">Aucun résumé</div>
    </q-card-section>

    <q-card-actions>
      {{ captureSize }} kb
      <q-btn v-if="capture.info.links.length > 0" flat round :ripple="false" icon="link" @click.stop="showLinks()">
        <q-badge rounded floating color="primary" :label="capture.info.links.length"/>
      </q-btn>
      <q-btn v-if="capture.info.images.length > 0" flat round :ripple="false" icon="image" @click.stop="showImages()">
        <q-badge rounded floating color="primary" :label="capture.info.images.length"/>
      </q-btn>
      <q-btn v-if="capture.info.files.length > 0 || true" flat round :ripple="false" icon="attach_file" @click.stop="logInfo()">
        <q-badge rounded floating color="primary" :label="capture.info.files.length"/>
      </q-btn>
      <q-space/>
      <q-btn flat round color="secondary" icon="refresh" :loading="refreshPending" :disable="deletePending" @click.stop="refreshCapture(capture)"/>
      <q-btn flat round color="secondary" icon="delete" :loading="deletePending" :disable="refreshPending" @click.stop="confirmDeleteCapture(capture)"/>
    </q-card-actions>
  </q-card>

</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { useQuasar } from 'quasar';

import ExternalLinksDialogVue from './ExternalLinksDialog.vue';
import ExternalImagesDialogVue from './ExternalImagesDialog.vue';

import { withLoading } from 'src/utils/loading';
import { notifyError, notifySuccess } from 'src/utils/notify';
import { reuseCapturesStore } from 'src/stores/capture-store';

import { CaptureDoc } from 'app/src-bex/controllers/capture-controller';

export interface Props {
  capture: CaptureDoc
}

const props = defineProps<Props>()

const $q = useQuasar()
const capturesStore = reuseCapturesStore()

const captureSize = computed(() => {
  const size = Object
    .values(props.capture?.attachments ?? {})
    .reduce((acc, a) => acc + a.length, 0)

  return Math.round(size / 1024)
})

// Debug
const logInfo = () => console.log(props.capture)

// Detail dialog
const showLinks = () => $q
  .dialog({
    component: ExternalLinksDialogVue,
    componentProps: {
      capture: props.capture.info,
      capturesStore: capturesStore
    }
  })

// Detail dialog
const showImages = () => $q
  .dialog({
    component: ExternalImagesDialogVue,
    componentProps: {
      capture: props.capture,
      capturesStore: capturesStore
    }
  })


// Retake capture
const refreshPending = ref(false)
const refreshCapture = (capture: CaptureDoc) => withLoading(refreshPending, capturesStore.retakeCapture(capture.id))


// Delete a capture
const deletePending = ref(false)
const confirmDeleteCapture = (capture: CaptureDoc) => $q.dialog({
    title: 'Confirmer',
    message: 'Voulez vous supprimer cette capture?',
    cancel: 'Annuler',
    ok: 'OK'
  }).onOk(() => {
    withLoading(deletePending, Promise
      .resolve(capture)
      .then(c => capturesStore.removeCapture(c))
    )
      .then(_ => notifySuccess('Capture supprimée'))
      .catch(err => notifyError('Une erreur est survenue', err))
  })
</script>
