<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="preview-card">
      <q-card-section>
        <div class="text-h6">{{ capture.info.title }}</div>
      </q-card-section>

      <q-card-section class="row overflow-auto">
        <preview-capture-component
          :markdown="markdown"
          :html-preview="htmlPreview"
          :source-html-blob-url="sourceHtmlBlobUrl"
          />
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat color="primary" label="OK" @click="onOKClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style scoped lang="sass">
.preview-card
  width: 66vw
  max-width: unset
</style>

<script setup lang="ts">
import { ref, watchEffect } from 'vue';
import { useDialogPluginComponent } from 'quasar'

import PreviewCaptureComponent from './PreviewCaptureComponent.vue';

import { useBlobHelper } from 'src/utils/blobs';
import { useCaptures } from 'src/utils/captures';
import { CaptureDoc } from 'app/src-bex/controllers/capture-controller';


// Dialog
interface Props {
  capture: CaptureDoc
}
const props = defineProps<Props>()

defineEmits([
  ...useDialogPluginComponent.emits
])
const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent()
const onOKClick = onDialogOK


// Preview
const markdown = ref('')
const htmlPreview = ref('')
const sourceHtmlBlobUrl = ref<string>()
const { previewCapture } = useCaptures()
const { blobs, getBlobAsText, addBlobsFromAttachments } = useBlobHelper()
watchEffect(() => {
  previewCapture(props.capture.id)
    .then(attachments => addBlobsFromAttachments(attachments))
    .then(() => sourceHtmlBlobUrl.value = blobs.value['html'])
    .then(() => getBlobAsText('markdown')
      .then(md => markdown.value = md)
    )
    .then(() => getBlobAsText('preview')
      .then(html => htmlPreview.value = html)
    )
})
</script>
