<template>
  <q-dialog ref="dialogRef" :persistent="loading" @hide="onDialogHide">
    <q-card class="comp-card column no-wrap">
      <q-card-section>
        <div class="text-h6">Capturer des onglets</div>
      </q-card-section>

      <q-card-section class="column no-wrap overflow-auto">
        <div class="row no-wrap">
          <q-input class="grow" v-model="filter" debounce="300" label="Filtrer..." outlined autofocus clearable/>
          <q-checkbox :model-value="allChecked" @update:model-value="toggleCheckAll()"/>
        </div>

        <q-list dense class="q-mt-md full-width overflow-auto">
          <q-item
            v-for="tab in filteredTabs" :key="tab.id"
            :disable="loading"
            :clickable="capturingTabs[tab.id] === undefined"
            @click="toggleChecked(tab.id)"
          >
            <q-item-section avatar><q-img :src="tab.favicon"/></q-item-section>
            <q-item-section>
              <q-item-label>{{ tab.title }}</q-item-label>
              <q-item-label caption class="app-text-ellipsis">{{ tab.url }}</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-checkbox v-if="capturingTabs[tab.id] === undefined" v-model="checkedTabs[tab.id]"/>
              <q-btn v-else-if="capturingTabs[tab.id] === LoadingStatus.PENDING" flat round loading/>
              <q-btn v-else-if="capturingTabs[tab.id] === LoadingStatus.OK" flat round icon="done" color="positive"/>
              <q-btn v-else-if="capturingTabs[tab.id] === LoadingStatus.ERROR" flat round icon="error" color="negative"/>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat color="primary" label="Annuler" :disable="loading" v-close-popup/>
        <q-btn flat color="primary" label="OK" :loading="loading" @click="captureTabs()"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style lang="sass" scoped>
.comp-card
  width: 66vw
  overflow: hidden !important
</style>

<script setup lang="ts">
import { onMounted, ref, watchEffect } from 'vue'
import { useDialogPluginComponent } from 'quasar'
import { Tab, TabId, useTabs } from 'src/utils/tabs';
import { CapturesStore } from 'src/stores/capture-store';
import { LoadingStatus, withLoading, withManyStatus } from 'src/utils/loading';


// Props
export interface Props {
  capturesStore: CapturesStore
}
const props = defineProps<Props>()


// Dialog
defineEmits([
  ...useDialogPluginComponent.emits
])

const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent()


// Tabs
const tabs = ref<Tab[]>([])
const { listTabs } = useTabs()
const capturingTabs = ref<Record<TabId, LoadingStatus>>({})

onMounted(() => {
  listTabs()
    .then(list => tabs.value = list)
})

const loading = ref(false)
const captureTabs = () => {
  const promises = Object
    .entries(checkedTabs.value)
    .filter(entry => entry[1] === true)
    .map(entry => parseInt(entry[0]))
    .map(tabId => {
      return withManyStatus(capturingTabs, tabId, props
        .capturesStore
        .captureTab(tabId))
    })


  withLoading(loading, Promise
    .allSettled(promises)
    .then(result => {
      filteredTabs.value
        .forEach(tab => checkedTabs.value[tab.id] = false)

      if(result.every(r => r.status === 'fulfilled'))
        onDialogOK()
      else
        console.error('Error capturing tabs', result)
    }))
}


// Checkboxes
const allChecked = ref<boolean | undefined>(false)
const checkedTabs = ref<Record<TabId, boolean>>({})
const toggleChecked = (tabId: TabId) => {
  allChecked.value = undefined
  checkedTabs.value[tabId] = capturingTabs.value[tabId] === undefined && !checkedTabs.value[tabId]
}

const toggleCheckAll = () => {
  allChecked.value = !allChecked.value
  filteredTabs.value
    .forEach(tab => {
      checkedTabs.value[tab.id] = capturingTabs.value[tab.id] === undefined && (allChecked.value ?? false)
    })
}


// Filter
const filter = ref<string | null>(null)
const filteredTabs = ref<Tab[]>([])
watchEffect(() => {
  const f = filter.value

  if(f === null || f.length === 0)
    filteredTabs.value = tabs.value

  else {
    filteredTabs.value = tabs.value
      .filter(t => t.title?.includes(f) || t.url?.includes(f))
  }

  checkedTabs.value = filteredTabs.value.reduce((acc, t) => ({ ...acc, [t.id]: false }), {})
})
</script>
