<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="comp-card">
      <q-card-section>
        <div class="text-h6">Importer depuis un onglet</div>
      </q-card-section>

      <q-card-section class="column">
        <q-input v-model="filter" debounce="300" label="Filtrer..." outlined autofocus clearable/>
        <q-list dense class="q-mt-md full-width">
          <q-item clickable v-for="tab in filteredTabs" :key="tab.id" @click="onTabClicked(tab)">
            <q-item-section avatar><q-img :src="tab.favicon"/></q-item-section>
            <q-item-section>
              <q-item-label>{{ tab.title }}</q-item-label>
              <q-item-label caption class="app-text-ellipsis">{{ tab.url }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<style lang="sass" scoped>
.comp-card
  width: 66vw
</style>

<script setup lang="ts">
import { computed, onMounted, ref } from 'vue'
import { useDialogPluginComponent } from 'quasar'
import { Tab, useTabs } from 'src/utils/tabs';

defineEmits([
  ...useDialogPluginComponent.emits
])

const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent()


// Tabs
const tabs = ref<Tab[]>([])
const { listTabs } = useTabs()

onMounted(() => {
  listTabs()
    .then(list => tabs.value = list)
})

const onTabClicked = (tab : Tab) => {
  onDialogOK(tab)
}


// Filter
const filter = ref<string | null>(null)
const filteredTabs = computed(() => {
  const f = filter.value
  if(f === null || f.length === 0) return tabs.value

  return tabs
    .value
    .filter(t => t.title?.includes(f) || t.url?.includes(f))
})
</script>
