<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="card-error-details">
      <q-card-section>
        <div class="text-h6">Détails de l'erreur</div>
      </q-card-section>

      <q-card-section>
        <pre class="overflow-auto"><code class="code-block">{{ errorDetails }}</code></pre>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn color="primary" label="OK" @click="onOKClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style lang="sass">
.code-block
  display: block

.card-error-details
  max-width: unset !important
</style>

<script setup lang="ts">
import { computed } from 'vue'
import { useDialogPluginComponent } from 'quasar'

interface Props {
  err: unknown
}

const props = defineProps<Props>()

defineEmits([
  ...useDialogPluginComponent.emits
])

const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent()

function onOKClick () {
  onDialogOK()
}

const errorDetails = computed(() => {
  if(props.err instanceof Error && props.err.stack)
      return props.err.stack.toString()
    else
      return JSON.stringify(props.err, undefined, 2);
})
</script>