<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="images-card column no-wrap full-height">
      <q-card-section>
        <div class="text-h6">Images</div>
      </q-card-section>

      <q-card-section class="row grow overflow-auto q-col-gutter-md items-center">
        <div v-for="url, idx in capture.info.images" :key="idx" style="width: 33%">
          <q-img :src="url" :class="{ selected: url === hero }" @click="hero = url"/>
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat color="primary" label="Annuler" v-close-popup />
        <q-btn flat color="primary" label="Changer le hero" @click="saveHero()" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style scoped lang="sass">
.images-card
  width: 66vw
  max-width: unset

.selected
  box-shadow: 0px 0 10px 4px $accent
</style>

<script setup lang="ts">
import { ref, watchEffect } from 'vue';
import { useDialogPluginComponent } from 'quasar'

import { CapturesStore } from 'src/stores/capture-store';
import { notifyError, notifySuccess } from 'src/utils/notify';

import { CaptureDoc } from 'app/src-bex/controllers/capture-controller';


// Dialog
interface Props {
  capture: CaptureDoc
  capturesStore: CapturesStore
}
const props = defineProps<Props>()

defineEmits([
  ...useDialogPluginComponent.emits
])
const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent()


// Hero
const hero = ref<string>()
watchEffect(() => hero.value = props.capture.info.hero)
const saveHero = () => {
  if(hero.value === undefined) return
  props.capturesStore
    .updateCapture({ ...props.capture, info: { ...props.capture.info, hero: hero.value }})
    .then(() => {
      notifySuccess('Hero mis à jour')
      onDialogOK()
    })
    .catch(err => notifyError('Une erreur est survenue', err))
}
</script>
