<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="comp-card column no-wrap full-height">
      <q-card-section>
        <div class="text-h6">Liens externes</div>
      </q-card-section>

      <q-card-section class="column no-wrap overflow-auto">

        <!-- Filter -->
        <div class="row q-gutter-md">
          <q-btn flat round :icon="currentCategoryIcon" :color="currentCategoryColor">
            <q-menu auto-close>
              <q-list>
                <simple-list-item clickable label="Tous" icon="workspaces" @click="categoryFilter = LinkCategory.ALL"/>
                <simple-list-item clickable label="Résolus" icon="check_circle" icon-color="positive" @click="categoryFilter = LinkCategory.RESOLVED"/>
                <simple-list-item clickable label="En attentes" icon="check_circle" icon-color="blue" @click="categoryFilter = LinkCategory.ACCEPTED"/>
                <simple-list-item clickable label="Refusés" icon="block" icon-color="negative" @click="categoryFilter = LinkCategory.REJECTED"/>
                <simple-list-item clickable label="Non traités" icon="help" @click="categoryFilter = LinkCategory.UNKNOWN"/>
              </q-list>
            </q-menu>
          </q-btn>
          <q-input v-model="filter" dense class="grow" debounce="300" label="Filtrer..." outlined autofocus clearable/>
        </div>

        <!-- List -->
        <q-list class="q-mt-md full-width overflow-auto">
          <q-item clickable v-for="link, idx in filteredLinks" :key="idx">
            <q-item-section avatar>
              <q-avatar
                :icon="link.resolved ? 'check_circle' : link.accepted ? 'check_circle' : link.rejected ? 'block' : 'help'"
                :text-color="link.resolved ? 'positive' : link.accepted ? 'blue' : link.rejected ? 'negative' : ''"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label caption class="comp-break-word">{{ link.url }}</q-item-label>
            </q-item-section>
            <q-item-section side class="no-wrap" style="flex-direction: row !important;">
              <q-btn v-if="!link.resolved" id="link_on" flat round color="accent" icon="link" @click="ev => open(ev, 'add', link.url)" />
              <q-btn v-if="!link.resolved" id="link_off" flat round color="accent" icon="link_off" @click="ev => open(ev, 'del', link.url)" />
              <q-btn flat round color="accent" icon="open_in_new" @click="openExternal(link.url)" />
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat color="primary" label="OK" @click="onOKClick" />
      </q-card-actions>
    </q-card>

    <!-- Accept/reject dialog -->
    <q-menu ref="menu" :target="target">
      <q-list style="min-width: 100px">
        <q-item-label header>{{ op === 'add' ? 'Ajouter des urls' : 'Retirer des urls' }}</q-item-label>
        <q-item
          v-for="d, idx in directories"
          :key="idx"
          clickable
          v-close-popup
          @click="op === 'add' ? capturesStore.addAcceptedUrl(d) : capturesStore.addRejectedUrl(d)"
        >
          <q-item-section>{{ d }}</q-item-section>
        </q-item>
      </q-list>
    </q-menu>

  </q-dialog>
</template>

<style lang="sass">
.comp-card
  width: 66vw
  max-width: unset !important

.comp-break-word
  word-break: break-all
</style>

<script setup lang="ts">
import { computed, ref } from 'vue'
import { QMenu, useDialogPluginComponent } from 'quasar'

import { CaptureInfo } from 'app/src-bex/controllers/capture-controller';
import { CapturesStore } from 'src/stores/capture-store';
import { containsString } from 'src/utils/filters';
import SimpleListItem from './SimpleListItem.vue';


// Dialog
interface Props {
  capture: CaptureInfo
  capturesStore: CapturesStore
}
const props = defineProps<Props>()

defineEmits([
  ...useDialogPluginComponent.emits
])
const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent()
const onOKClick = onDialogOK


// Open
const openExternal = (url: string) => window.open(url, '_blank')


// Links
const links = computed(() => {
  return props
    .capture
    .links
    .map(l => ({
      url: l,
      resolved: props.capturesStore.isResolvedUrl(l),
      accepted: props.capturesStore.batch?.acceptedUrls.some(u => l.startsWith(u)),
      rejected: props.capturesStore.batch?.rejectedUrls.some(u => l.startsWith(u))
    }))
})


// Filters
enum LinkCategory {
  ALL,
  RESOLVED,
  ACCEPTED,
  REJECTED,
  UNKNOWN
}

const filter = ref('')
const categoryFilter = ref<LinkCategory>(LinkCategory.ALL)

const currentCategoryIcon = computed(() => {
  switch(categoryFilter.value) {
    case LinkCategory.ALL: return 'workspaces'
    case LinkCategory.RESOLVED: return 'check_circle'
    case LinkCategory.ACCEPTED: return 'check_circle'
    case LinkCategory.REJECTED: return 'block'
    case LinkCategory.UNKNOWN: return 'help'
    default: return undefined
  }
})

const currentCategoryColor = computed(() => {
  switch(categoryFilter.value) {
    case LinkCategory.RESOLVED: return 'positive'
    case LinkCategory.ACCEPTED: return 'blue'
    case LinkCategory.REJECTED: return 'negative'
    default: return undefined
  }
})

const filteredLinks = computed(() => links
  .value
  .filter(l => {
    if(categoryFilter.value === LinkCategory.RESOLVED && !l.resolved) return false
    if(categoryFilter.value === LinkCategory.ACCEPTED && (!l.accepted || l.resolved)) return false
    if(categoryFilter.value === LinkCategory.REJECTED && !l.rejected) return false
    if(categoryFilter.value === LinkCategory.UNKNOWN && (l.resolved || l.accepted || l.rejected)) return false
    return filter.value === null || containsString(l.url, filter.value)
  })
)


// Links dialog
type OpType = 'add' | 'del'
const target = ref()
const menu = ref<QMenu>()
const op = ref<OpType>('add')
const directories = ref<string[]>([])

const open = (ev: Event, o: OpType, url: string) => {
  op.value = o

  const u = new URL(url)
  directories.value = u
    .pathname
    .split('/')
    .reduce<string[]>((acc, d) => {
      if(acc.length === 0) {
        return [u.origin]
      } else {
        return [ ...acc, acc[acc.length - 1] + '/' + d]
      }
    }, [])

  target.value = ev.target
  menu.value?.show(ev)
}
</script>
