<template>
  <Teleport v-if="mounted" :to="to"><slot></slot></Teleport>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';

export interface Props {
  to: string
}

defineProps<Props>()

const mounted = ref(false)
onMounted(() => mounted.value = true)
</script>
