<template>
  <div class="q-pa-md column grow">
    <div class="row q-gutter-md overlay-buttons app-transparent-overlay">
      <q-btn
        round
        icon="edit"
        :color="selectedMode === Mode.EDIT ? 'accent' : 'secondary'"
        @click="selectedMode = Mode.EDIT"
      />
      <q-btn
        round
        icon="article"
        :color="selectedMode === Mode.TEXT ? 'accent' : 'secondary'"
        @click="selectedMode = Mode.TEXT"
      />
      <q-btn
        round
        icon="preview"
        :color="selectedMode === Mode.PREVIEW ? 'accent' : 'secondary'"
        @click="selectedMode = Mode.PREVIEW"
      />
      <q-btn
        v-if="sourceHtmlBlobUrl !== undefined"
        round
        icon="html"
        :color="selectedMode === Mode.HTML_SOURCE ? 'accent' : 'secondary'"
        @click="selectedMode = Mode.HTML_SOURCE"
      />
    </div>

    <pre v-if="selectedMode === Mode.TEXT" class="grow scrollable-preview">
      <code class="code-preview">{{ article?.markdown }}</code>
    </pre>

    <div v-if="selectedMode === Mode.EDIT" class="grow scrollable-preview">
      <textarea class="code-edit" v-model="editableMarkdown"></textarea>
    </div>

    <div v-if="selectedMode === Mode.PREVIEW" class="grow scrollable-preview">
      <div v-html="htmlPreview"></div>
    </div>

    <div v-if="selectedMode === Mode.HTML_SOURCE" class="grow scrollable-preview">
      <iframe class="source-iframe" :src="sourceHtmlBlobUrl"></iframe>
    </div>
  </div>
</template>

<style scoped lang="sass">
.overlay-buttons
  position: absolute

.scrollable-preview
  overflow: auto
  height: 550px

pre
  margin: unset !important

textarea.code-edit
  width: 100%
  height: 95%

.code-preview
  word-break: break-word
  white-space: break-spaces

.source-iframe
  width: 100%
  height: 100%
</style>

<script setup lang="ts">
import { ref, watchEffect } from 'vue'
import 'highlight.js/styles/github.css'


import { Article } from 'src/models/article'
import { notifyError } from 'src/utils/notify'
import { useArticles } from 'src/utils/articles'

enum Mode {
  TEXT,
  EDIT,
  PREVIEW,
  HTML_SOURCE
}

interface Props {
  article?: Article
  sourceHtmlBlobUrl?: string
}

const props = defineProps<Props>()

const htmlPreview = ref<string>()
const editableMarkdown = ref<string>()
const selectedMode = ref<Mode>(Mode.PREVIEW)

const { articleToHtml } = useArticles()

watchEffect(() => {
  if(props.article === undefined || props.article.markdown.length === 0) {
    htmlPreview.value = undefined
    return undefined
  }

  editableMarkdown.value = props.article.markdown
  articleToHtml(props.article)
    .then(html => htmlPreview.value = html)
    .catch(err => notifyError('Erreur lors du calcul de preview', err))
})
</script>
