<template>
  <q-dialog :model-value="tasks.length > 0" seamless position="bottom">
    <q-card class="column" style="width: 350px">
      <q-list bordered padding dense>

        <template v-for="task in tasks" :key="task.key">
          <q-item header class="bg-primary text-white">
            <q-item-section>
              <q-item-label>{{ task.key }}</q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-icon v-if="task.status === ProgressStatus.COMPLETE" color="white" class="bg-positive comp-round-icon" name="task_alt"/>
              <q-icon v-else-if="task.status === ProgressStatus.ERROR" color="white" class="bg-negative comp-round-icon" name="error"/>
              <q-spinner-orbit v-else-if="task.status === ProgressStatus.PENDING"/>
            </q-item-section>
          </q-item>

          <q-item v-for="item in task.items" :key="item.key" :inset-level="1">
            <q-item-section>
              <q-item-label>{{ item.key }}</q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-icon v-if="item.status === ProgressStatus.COMPLETE" color="positive" name="task_alt"/>
              <q-icon v-else-if="item.status === ProgressStatus.ERROR" color="negative" name="error"/>
              <q-spinner-orbit v-else-if="item.status === ProgressStatus.PENDING"/>
            </q-item-section>
          </q-item>
        </template>
      </q-list>
      <q-btn flat color="secondary" label="Vider les tâches" icon="delete" align="around" @click="clearTasks()"/>
    </q-card>
  </q-dialog>
</template>

<style scoped lang="sass">
.comp-round-icon
  border-radius: 50%
</style>

<script setup lang="ts">
import { useBackgroundProgress, ProgressStatus } from 'src/utils/progress'
const { tasks, clearTasks } = useBackgroundProgress()
</script>
