<template>
  <q-item>
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon" :color="iconColor"/>
    </q-item-section>
    <q-item-section>{{ label }}

    </q-item-section>
  </q-item>
</template>

<script setup lang="ts">
export interface Props {
  label: string
  icon?: string
  iconColor?: string
}

defineProps<Props>()
</script>
