::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #d1d1d1;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #919191;
}

.grow {
  flex-grow: 1;
}

.app-transparent-overlay {
  opacity: 0.3;
  transition: opacity 500ms;
}

.app-transparent-overlay:hover {
  opacity: 1;
}

.app-text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
